body {
    font-family: "OutfitBold", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: rgb(17, 19, 24);
    text-align: center;
    font-size: 20px;
    color: rgb(225, 226, 233);
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding-left: 128px;
    padding-right: 128px;
  }
  
  @font-face {
    font-family: 'OutfitRegular';
    src: url('fonts/Outfit-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'OutfitBlack';
    src: url('fonts/Outfit-Black.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'OutfitBold';
    src: url('fonts/Outfit-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'OutfitMedium';
    src: url('fonts/Outfit-Medium.ttf') format('truetype');
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 80px;
  }
  
  h2 {
    font-size: 65px;
  }
  
  p {
    font-size: 18px;
  }
  
  a {
    color: rgb(168, 200, 255);
    text-decoration: none;
  }
  
  .block {
    padding: 100px 0;
    border-radius: 68px;
  }
  
  .text-block {
    background-color: rgb(26, 29, 37);
    border-radius: 68px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  
  .text-block.tbp {
    font-size: 48px;
  }
  
  .button,
  .discord-button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    border-radius: 68px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .button {
    background-color: #ffffff;
    color: #2a2831;
  }
  
  .button:hover {
    color: #2a2831;
    background-color: #f3f3f3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
  
  .discord-button {
    background-color: #5865F2;
    color: #FFFFFF;
  }
  
  .discord-button:hover {
    color: #e0e0e0;
    background-color: #4854c7;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
  
  
  footer {
    margin-top: 50px;
    padding: 24px;
    background-color: rgb(26, 29, 37);
  }
  
  .gallery {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth;
  }
  
  .gallery img {
    max-width: 100%;
    height: 550px;
    border-radius: 24px;
    margin-right: 8px;
  }
  
  ::-webkit-scrollbar {
    height: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(26, 29, 37);
    border-radius: 24px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(58, 61, 69);
    border-radius: 24px;
    border: 2px solid rgb(26, 29, 37);
  }
  
  .navbar {
    background-color: rgb(26, 29, 37);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo a {
    font-size: 36px;
    font-weight: bold;
    color: rgb(225, 226, 233);
    text-decoration: none;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .menu-icon {
    font-size: 30px;
    color: rgb(225, 226, 233);
    display: none;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: rgb(225, 226, 233);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-links a.discord {
    color: #FFFFFF;
    background-color: #5865F2;
  }
  
  .nav-links a.discord:hover {
    background-color: #4854c7;
  }
  
  .nav-links a.active {
    background-color: rgb(26, 29, 37);
    color: rgb(168, 200, 255);
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: rgb(26, 29, 37);
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      z-index: 1000;
    }
  
    .nav-links li {
      display: block;
      text-align: center;
    }
  
    .nav-links a {
      padding: 15px;
    }
  
    .menu-toggle:checked + .menu-icon + .nav-links {
      max-height: 300px;
    }
  }
  
  
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .container {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    h1 {
      font-size: 40px;
    }
  
    h2 {
      font-size: 32px;
    }
  
    h3 {
      font-size: 26px;
    }
  
    p {
      font-size: 14px;
    }
  
    .block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 12px;
    }
  
    .block .button,
    .block .discord-button {
      margin: 10px 0;
    }
  
    .text-block {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .gallery {
      display: flex;
      overflow-x: auto;
      gap: 8px;
    }
  
    .gallery img {
      height: 300px;
    }
  
    .scrolling-text span {
      font-size: 25px;
    }
  
    .gridlist {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .version-block {
      font-size: 28px;
      padding: 15px;
    }
  }
  
  .scrolling-text {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
  }
  
  .scrolling-text span {
    display: inline-block;
    font-size: 100px;
    font-weight: bold;
    padding-right: 100px;
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
  .gridlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
  }
  
  .version-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 29, 37);
    color: #e0e0e0;
    font-size: 48px;
    font-weight: bold;
    padding: 20px;
    border-radius: 48px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
  }
  
  .version-block:hover {
    transform: translateY(-4px);
  }